<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <span th:fragment="Button (content, checked, disabled)">
      <span
        class="mb-2 mt-2 inline-flex transform items-center justify-center rounded px-4 py-2 font-barlow font-normal text-white transition-all duration-500 ease-in-out hover:cursor-pointer hover:underline"
        th:classappend="|
          ${!checked && !disabled ? 'bg-orange_2 p-2 hover:bg-orange_2-500' : ''}
          ${checked ?
          ' bg-green hover:cursor-default hover:bg-green hover:no-underline' : ' '}
          ${disabled ? ' cursor-default bg-orange_2-200 hover:cursor-default hover:bg-orange_2-200' : ''}|

"
      >
        <th:block th:replace="${content}"></th:block>
      </span>
    </span>

    <!--    th:classappend="${checked} ?-->
    <!--    ' bg-green hover:cursor-default hover:bg-green hover:no-underline' : ''-->
    <!--    + ${disabled}  ? ' cursor-default bg-orange_2-200 hover:cursor-default hover:bg-orange_2-200' : '' "-->

    <div th:fragment="loadingIndicator(id)" th:id="${id}" class="Spinner">
      <div class="bounce bounce1"><img th:src="@{/logo.png}" /></div>
      <div class="bounce bounce2"><img th:src="@{/logo.png}" /></div>
      <div class="bounce bounce3"><img th:src="@{/logo.png}" /></div>
    </div>

    <th:block th:fragment="RecipeCategories (recipe, hideTime)">
      <div class="space-y-2">
        <p
          th:if="${hideTime != true}"
          class="me-2 inline-block rounded border border-green bg-white p-2 text-[15px] text-green"
        >
          <i class="fa-regular fa-clock mr-2"></i>
          [[${@durationFormatter.formatMinutes(recipe.cookTime +
          recipe.preparationTime)}]]
        </p>
        <p
          th:each="c : ${recipe.categories}"
          class="me-2 inline-block rounded border border-green bg-white p-2 text-[15px] text-green"
        >
          <i th:class="${c.icon}"></i>
          <span class="ms-2">[[${c.title}]]</span>
        </p>
      </div>
    </th:block>
  </body>
</html>
