<!doctype html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Favicons</title>
    <th:block th:fragment="favicons">
      <link
        rel="apple-touch-icon"
        sizes="57x57"
        th:href="@{/favicons/apple-icon-57x57.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        th:href="@{/favicons/apple-icon-60x60.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="72x72"
        th:href="@{/favicons/apple-icon-72x72.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="76x76"
        th:href="@{/favicons/apple-icon-76x76.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="114x114"
        th:href="@{/favicons/apple-icon-114x114.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="120x120"
        th:href="@{/favicons/apple-icon-120x120.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="144x144"
        th:href="@{/favicons/apple-icon-144x144.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="152x152"
        th:href="@{/favicons/apple-icon-152x152.png}"
      />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        th:href="@{/favicons/apple-icon-180x180.png}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="192x192"
        th:href="@{/favicons/android-icon-192x192.png}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        th:href="@{/favicons/favicon-32x32.png}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        th:href="@{/favicons/favicon-96x96.png}"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        th:href="@{/favicons/favicon-16x16.png}"
      />
    </th:block>
  </head>
  <body>
    Favicons only
  </body>
</html>
