<head th:fragment="head(title)">
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title th:replace="${title}">Recipify</title>
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    th:href="@{/favicons/apple-icon-57x57.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    th:href="@{/favicons/apple-icon-60x60.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    th:href="@{/favicons/apple-icon-72x72.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    th:href="@{/favicons/apple-icon-76x76.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    th:href="@{/favicons/apple-icon-114x114.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    th:href="@{/favicons/apple-icon-120x120.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    th:href="@{/favicons/apple-icon-144x144.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    th:href="@{/favicons/apple-icon-152x152.png}"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    th:href="@{/favicons/apple-icon-180x180.png}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    th:href="@{/favicons/android-icon-192x192.png}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    th:href="@{/favicons/favicon-32x32.png}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    th:href="@{/favicons/favicon-96x96.png}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    th:href="@{/favicons/favicon-16x16.png}"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/main.css}" rel="stylesheet" />
  <link th:href="@{/fonts/google-fonts.css}" rel="stylesheet" />
  <link th:href="@{/fontawesome/css/fontawesome.css}" rel="stylesheet" />
  <link th:href="@{/fontawesome/css/brands.css}" rel="stylesheet" />
  <link th:href="@{/fontawesome/css/regular.css}" rel="stylesheet" />
  <link th:href="@{/fontawesome/css/solid.css}" rel="stylesheet" />
</head>
