<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:fragment="DefaultLayout (title, children)"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:replace="${title}">Recipify</title>

    <link th:replace="~{fragments/favicons :: favicons}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link th:href="@{/fonts/google-fonts.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/fontawesome.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/brands.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/regular.css}" rel="stylesheet" />
    <link th:href="@{/fontawesome/css/solid.css}" rel="stylesheet" />
    <link th:href="@{/RecipePage.css}" rel="stylesheet" />
    <link th:href="@{/LoadingIndicator.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="flex min-h-screen flex-col">
      <div class="container mx-auto h-16">
        <div class="flex h-full items-center justify-end">
          <th:block
            th:replace="~{fragments/newsletter-registration :: NewsletterRegistration}"
          />
        </div>
      </div>

      <header
        class="flex h-24 items-center bg-cover bg-center"
        th:style="'background-image: url(/images/landing-page.png)'"
      >
        <div class="container mx-auto">
          <div class="flex h-full items-center justify-between">
            <div class="flex items-center font-space font-bold text-red">
              <h1 class="inline-block bg-white p-2 pb-3 text-4xl">
                <a th:href="@{/}">Recipify</a>
              </h1>
              <div class="ms-2 shrink-0 bg-white p-1 text-xl">
                <span class="text-green">HTMX</span> Edition
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="flex-grow">
        <div th:replace="${children}">
          <p>Layout content</p>
        </div>
      </div>

      <footer class="h-16 bg-gray-800 font-inter text-sm text-gray-200">
        <div class="container mx-auto flex h-full items-center justify-between">
          <p>Dummy content only. Do not cook 👮‍.</p>
          <p>https://nilshartmann.net</p>
        </div>
      </footer>
    </div>
    <!--    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>-->
    <script th:src="@{/alpinejs/alpine-3.13.5.min.js}"></script>

    <script
      type="text/javascript"
      th:src="@{/htmx/htmx-1.9.10.min.js}"
    ></script>

    <script>
      //      htmx.logAll();
    </script>
  </body>
</html>
