<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <th:block th:fragment="RecipeBanner">
      <div
        th:style="'--recipe-bg-image: url(' + @{${'/images/recipes/food_' + recipeId + '.png'}} + ')'"
      >
        <div class="recipify-header-wrap mt-8 pb-12 pe-8 ps-8 pt-4">
          <div
            class="container mx-auto flex flex-col-reverse md:flex-row md:space-x-8"
          >
            <div class="mt-8 md:mt-0 md:w-1/2">
              <div class="flex h-full flex-col justify-between">
                <div>
                  <div class="flex justify-between">
                    <p
                      class="font-space text-sm font-medium uppercase tracking-[2px] text-red"
                      th:text="${recipe.recipe.mealType}"
                    >
                      Title
                    </p>
                  </div>
                  <h1
                    class="mb-4 mt-4 font-space text-5xl font-bold"
                    th:text="${recipe.recipe.title}"
                  ></h1>
                  <p
                    class="text mt-2 font-inter text-gray-500"
                    th:text="${recipe.recipe.headline}"
                  ></p>
                </div>
                <div>
                  <div class="mt-4 flex">
                    <div
                      class="mt-4"
                      th:replace="~{fragments/components::RecipeCategories (recipe=${recipe.recipe}, hideTime=true)}"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="md:w-1/2">
              <div class="overflow-hidden">
                <img
                  class="w-full transform rounded object-cover transition-all duration-1000 ease-in-out hover:scale-125 sm:mt-4 sm:max-h-80 md:mt-0"
                  th:src="@{${'/images/recipes/food_' + recipeId + '.png'}}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </th:block>

    <th:block th:fragment="Instructions">
      <h2 class="mb-8 mt-8 font-space text-3xl font-bold">Instructions</h2>
      <div class="me-4 ms-4">
        <div
          th:each="i: ${recipe.instructions}"
          class="mt-8 items-start border-b border-dotted border-gray-300 pb-8 sm:flex"
        >
          <div
            class="font-space font-medium text-red sm:w-1/4"
            th:text="${'Step ' + i.orderNo}"
          ></div>
          <div
            class="mt-4 font-inter text-gray-500 sm:mt-0 sm:w-3/4 sm:pe-1.5"
            th:text="${i.description}"
          ></div>
        </div>
      </div>
    </th:block>
  </body>
</html>
