<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: DefaultLayout(~{::title}, ~{::main})}"
>
  <head>
    <title>Recipify HTMX Demo</title>
  </head>
  <body>
    <!--    bg-goldgray  -->
    <main th:fragment="main">
      <div class="container mx-auto mt-8 flex max-w-96 pt-8">
        <form
          x-data
          th:action="@{/search}"
          class="w-full flex-grow"
          @submit.prevent=""
        >
          <!--          hx-trigger="keyup[key=='enter'], input[target.value.length > 2] delay:200ms from:#searchField"-->
          <!--          th:hx-get="@{/search(slowdown=1200)}"-->
          <!--          th:hx-push-url="@{/search/(search=${search})}"-->
          <!--          hx-include="closest form"-->
          <!--          hx-target="#searchResult"-->
          <!--          hx-swap="outerHTML"-->
          <!--          hx-indicator="#searchIndicator"-->

          <!-- das push der URL funktioniert nicht korrekt, weil das Formular nicht neu gerendert
           wird nach einer suche und damit '$search' immer der initiale Wert ist 🥳
           -->
          <input
            type="search"
            name="search"
            id="searchField"
            aria-label="Enter at least three chars to start searching for recipes"
            th:value="${search}"
            class="h-8 w-full max-w-full rounded border border-gray-400 bg-white p-6 text-gray-500 hover:shadow-lg"
            th:hx-get="@{/search(slowdown=1200)}"
            hx-trigger="input[target.value.length > 2] changed delay:200ms"
            hx-target="#searchResult"
            hx-swap="outerHTML"
            hx-indicator="#searchIndicator"
          />

          <!--          <input name="city" type="text" hx-include="closest form" />-->
        </form>
        <button
          class="ms-2 cursor-pointer text-gray-500 underline hover:text-gray-900"
          th:hx-get="@{/search/reset}"
          hx-swap="outerHTML"
          hx-target="main"
          th:hx-push-url="@{/}"
        >
          Clear
        </button>
      </div>

      <div id="searchIndicator" class="Spinner font-space">
        <div class="bounce bounce1"><img th:src="@{/logo.png}" /></div>
        <div class="bounce bounce2"><img th:src="@{/logo.png}" /></div>
        <div class="bounce bounce3"><img th:src="@{/logo.png}" /></div>
      </div>
      <div
        th:fragment="searchResult"
        id="searchResult"
        class="container mx-auto mt-2 w-1/4 space-y-8 rounded-lg pb-8 pt-8"
      >
        <div th:if="${fresh == true}" class="flex justify-center text-gray-500">
          Type three letters to start search
        </div>
        <div
          th:each="recipe : ${recipse}"
          class="transform rounded border border-gray-200 bg-white p-4 shadow-lg transition-all duration-500 ease-in-out hover:drop-shadow-2xl"
        >
          <div class="flex flex-col justify-between">
            <div class="space-y-2">
              <div class="overflow-hidden">
                <img
                  class="mb-2 h-24 max-h-full w-full max-w-full transform rounded object-cover transition-all duration-500 ease-in-out hover:scale-110"
                  th:src="@{${'/images/recipes/food_' + recipe.id + '.png'}}"
                />
              </div>
              <div class="flex justify-between text-red">
                <p
                  class="font-space text-sm font-medium uppercase tracking-[2px]"
                  th:text="${recipe.mealType}"
                ></p>
              </div>

              <h1 class="font-space font-bold">
                <a
                  th:href="@{${'/recipes/' + recipe.id}}"
                  th:hx-get="@{${'/recipes/' + recipe.id}}"
                  th:hx-push-url="@{${'/recipes/' + recipe.id}}"
                  hx-target="main"
                  class="cursor-pointer hover:text-orange_2 hover:underline"
                  th:text="${recipe.title}"
                >
                  Recipse
                </a>
              </h1>
              <div class="text mt-2 font-inter text-gray-500">
                <span th:text="${recipe.headline}"> Headline </span>
                <a
                  th:href="@{${'/recipes/' + recipe.id}}"
                  th:hx-get="@{${'/search/' + recipe.id + '/expand'}}"
                  th:hx-target="${'#expanded_' + recipe.id}"
                  class="inline-block cursor-pointer text-orange_2 hover:underline"
                >
                  More...
                </a>
              </div>
              <div th:id="${'expanded_' + recipe.id}">
                <div
                  th:fragment="expandedRecipe"
                  th:if="${detailId == recipe.id}"
                >
                  <div class="mt-4 flex">
                    <div class="mt-4 space-y-2">
                      <p
                        class="me-2 inline-block rounded border border-green bg-white p-2 text-[15px] text-green"
                      >
                        <i class="fa-regular fa-clock mr-2"></i>
                        [[${@durationFormatter.formatMinutes(recipe.cookTime +
                        recipe.preparationTime)}]]
                      </p>

                      <p
                        th:each="c : ${recipe.categories}"
                        class="me-2 inline-block rounded border border-green bg-white p-2 text-[15px] text-green"
                      >
                        <i th:class="${c.icon}"></i>
                        <span class="ms-2" th:text="${c.title}"></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="container mx-auto mt-2 flex w-1/4 justify-center space-y-8 rounded-lg pb-8"
        id="moreField"
        hx-swap-oob="true"
        th:fragment="pagination"
      >
        <a
          th:href="@{/search(page=${nextPage},search=${search})}"
          th:if="${hasMore == true}"
          th:hx-get="@{/search(page=${nextPage})}"
          hx-include="#searchField"
          hx-target="#searchResult"
          hx-select="#searchResult > *"
          hx-swap="beforeend"
          hx-indicator="#searchIndicator"
          class="mb-2 mt-2 inline-flex transform items-center justify-center rounded bg-orange_2 p-2 px-4 py-2 font-barlow font-normal text-white transition-all duration-500 ease-in-out hover:cursor-pointer hover:bg-orange_2-500 hover:underline hover:shadow-lg"
        >
          Find more...
        </a>
      </div>
    </main>
  </body>
</html>
